body{
    margin: 0;
    background-color: turquoise;
}

.top-container ,h1 ,p{
    margin: 0;
}
.top-container {
    width: 25%;
    height: 10em;
    border: 10px solid black;
    padding: 20px;
    background-color: aquamarine;
}

.middle-container{
    background-color: beige;
    width: 25%;
    height: 10em;
    border: 20px solid black;
    margin-left: 31%;
   
}
.bottom-container{
    background-color: azure;
    width: 25%;
    height: 10em;
    border: 10px solid black;
    margin-left: 61%;
   


}